<head>
  <%= stylesheet_link_tag "post_element" %>
</head>
<body>
  <div class="border space_post_element">
    <%= link_to user_post_path(@user, post), class: 'no_link' do %>
      <div class="post_title mrg">
        <h3><%= post.title %></h3>
        <br>
        <h4>Post &#35;<%= index %></h4>
      </div>
      <div class="post_body mrg">
        <p><%= post.text %></p>
      </div>
      <div class="post_info">
        <p>Comments: <%= post.comments_counter %>, </p>
        <p>Likes: <%= post.likes_counter%></p>
      </div>
    <% end %>
    <div class="new_like">
      <%= link_to 'New Like', user_post_likes_path(user_id: @user.id, post_id: post.id), method: :post, remote: true %>
    </div>
  </div>
</body>
